:root {
  --cream: #010081;
  --almond: hsla(27, 92%, 90%, 1);
  --baby-pink: #ff0081;
  --green: #008080;
  --grey: #c3c3c3;
  --baby-blue-eyes: hsla(215, 77%, 80%, 1);
  --non-photo-blue: hsla(195, 82%, 76%, 1);
  --electric-blue: #818181;
  --magic-mint: hsla(167, 82%, 78%, 1);
  --celadon: hsla(126, 89%, 85%, 1);

  --color-background: var(--green);
  --color-text: #303030;
  --color-primary: var(--magic-mint);
  --box-height: 300px;
}

body {
  margin: 0;
  padding: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-color: var(--color-background);
  background: var(--green);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.popup-wrapper {
  position: relative;
  margin: 12px;
  background-color: #fff;

  padding: 16px;
  /* grid-template-rows: 1fr auto; */
  outline: 1px solid var(--color-text);
  /* min-height: var(--box-height); */
}

.btn {
  border: 1px solid var(--color-text);
  background-color: var(--cream);
  color: white;
  margin: 10px;
  padding: 6px 11px;
  transform: translate(-1px, -1px);
  transition: all 0.05s ease-in;
}

.btn-stop {
  background-color: var(--baby-pink);
}

.btn-start {
  background-color: var(--electric-blue);
}
